.dashboard {
  text-align: center;
  flex-direction: row;
  display: flex;
}

.header {
  width: 100%;
  
  height: 50px;
  flex-direction: column;
  align-items: flex-start;
  float: left;
}


.body {
  width: 80%;
  height: 100vh;
  flex-direction: column;
  display: flex;
   /* background-color: pink; */
}

.content {
  width: 80%;
  height: 100vh;
  flex-direction: row;
  display: flex;
  padding-top: 20px;
}

.text, .button {
  margin: 5px !important;
}

.button { 
  width: 223px;
}