.filter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    width: 100%;
}

.filter-label {
    width: 100px;
    display: inline-block;
    width: 100px;
}

.filter-by {
    padding-bottom: 5px;
}

.filter-icon {
    margin: 22px 0px !important;
}
.filer-container {
    text-align: right !important;
}

.filter {
    margin: 0px 10px;
    width: 20%;
    /* background-color: green; */
    height: 100vh;
    /* display: flex; */
    align-items: flex-start;
    margin: auto;
    text-align: right;
  }