.login-form {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.login-form >form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 20% 10px;
}
.login-form .button {
    margin: 10px !important;
}
.filter-label {
    width: 100px;
    display: inline-block;
    width: 100px;
}

.filter-by {
    padding-bottom: 5px;
}

.filter-icon {
    margin: 20px 40px;
}
.login {
    margin: 10px !important;
}